.welcome__message{
    color:  #e0e0e0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.home__container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1300px;
  padding-top: 150px;
  padding-left: 50px;


}
.motivational__message{
    color:  #e0e0e0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 150px;
}
.start__message{
    display: flex;
    color:   #e0e0e0;
    font-size: 60px;
    padding-top: 60px;
    padding-right: 320px;
    padding-left: 150px;
    opacity: 1;
    animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Start at normal size */
    }
    50% {
        transform: scale(1.2); /* Slightly larger */
    }
    100% {
        transform: scale(1); /* Return to normal size */
    }
}